{% extends 'nav.html' %}

{% block content %}
    <div class="fotos">
        <h2>Produto 1</h2>
        <img src="{{url_for('static', filename='imagens/irrigacaoTeste.jpg')}}" alt="">
        <a href="https://www.youtube.com/">Onde comprar</a>
        <a href="https://www.youtube.com/">Site oficial</a>
    </div>
    <div class="fotos">
        <h2>Produto 2</h2>
        <img src="{{url_for('static', filename='imagens/irrigacaoTeste.jpg')}}" alt="">
    </div>
    <div class="fotos">
        <h2>Produto 3</h2>
        <img src="{{url_for('static', filename='imagens/irrigacaoTeste.jpg')}}" alt="">
    </div>
    

    
{% endblock %}