{% extends 'nav.html' %}

{% block content %}
<div class="homepage">
    <section class="imagem1" id="0">
        <img class="trator-fundo" src="{{url_for('static', filename='imagens/trator_vermelho.jpg')}}" alt="Trator Vermelho">
        <h1>Tecnologia Agrícola Sem Fronteiras. Seu Próximo Salto Começa Aqui.</h1>
        <div class="carrossel">
            <div class="carrossel-inner">
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/irrigacaoTeste.jpg')}}" alt=""></a>
            </div>
        </div>
    </section>
    
    <section class="section-produtos" id="4">
        <h1>Drones e Robos</h1>
    
        <div class="produtos1">
            <div class="col-a">
                <h2>Agras T25</h2>
                <P>
                    DJI Agriculture
                </P>
                <P>
                    Preço Estimado: R$60,000 - R$160,000 (Dependente na configuracao)
                </P>
                <a target="_blank" href="https://ag.dji.com/t25">Site Oficial</a>
    
                 
    
                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://agridrones.com.br/produtos/agras-t25/">AgriDrones</a>
                <a target="_blank" href="https://geoag.com.br/drone-para-pulverizacao-dji-agras-t25">geoAG</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/AgrasT25.jpg')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>Agras T50</h2>
                <P>
                    DJI Agriculture
                </P>
                <P>
                    Preço Estimado: R$140.000,00 - R$ 250.000,00 (Dependente na configuracao)
                </P>
                <a target="_blank" href="https://ag.dji.com/?site=brandsite&from=nav">Site Oficial</a>
    
                 
    
                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://agridrones.com.br/produtos/agras-t50/">AgriDrones</a>
                <a target="_blank" href="https://geoag.com.br/drone-de-pulverizacao-no-arroz-no-brasil">geoAG</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/AgrasT50.webp')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>Agras T70 P</h2>
                <P>
                    DJI Agriculture
                </P>
                <P>
                    Preço Estimado: R$180.000,00 - R$ 250.000,00 (Dependente na configuracao)
                </P>
                <a target="_blank" href="https://ag.dji.com/t70p">Site Oficial</a>
    
                 
    
                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://geoag.com.br/drone-de-pulverizacao-agricola-dji-agras-t70p">geoAG</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/AgrasT70.png')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>R150</h2>
                <P>
                    XAG
                </P>
                <P>
                    Preço Estimado: R$120,000 - R$160,000
                </P>
                <a target="_blank" href="https://www.xa.com/en/r150-2022">Site Oficial</a>
    
                 
    
                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="http://megadronebrasil.com.br/home/r150/">Megadrone Brasil</a>
                <a target="_blank" href="https://compertratores.com.br/produto/drone-agricola-xag-r150-utv/?utm_source=chatgpt.com">Comper Tratores</a>
                <a target="_blank" href="https://broto.com.br/rodoparana-xag-r150-veiculo-terrestre-autonomo.html?utm_source=chatgpt.com">Broto</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/R150.webp')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>XAG V40</h2>
                <P>
                    Fertilizantes de liberação controlada
                </P>
                <P>
                    Preço Estimado: R$60,000 - R$140,000
                </P>
                <a target="_blank" href="https://www.xa.com/en/v40">Site Oficial</a>
    
                 
    
                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://megadronebrasil.com.br/home/megadrone-xag-v40/">Megadrone Brasil</a>
                <a target="_blank" href="https://www.mfrural.com.br/detalhe/862238/drone-agricola-xag-v40">MFRural</a>
                <a target="_blank" href="https://broto.com.br/rodoparana-xag-v40-drone-agricola-para-pulverizac-o.html?utm_source=chatgpt.com">Broto</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/XAGV40.webp')}}" alt="">
            </div>
        </div>
    
    </section>
    
    <section class="section-produtos" id="1">
        <h1>Tratores</h1>

        <div class="produtos1">
            <div class="col-a">
                <h2>Farm Tractor 40HP 45HP 50HP GT604</h2>
                <p>
                    Taishan Tractors
                </p>
                <P>
                    Descricao
                </P>
                <P>
                    Preço Estimado: R$40,000 - R$50,000
                </P>
                <a class="btn-video" target="_blank" href="https://www.youtube.com/shorts/OtrBlD1ajX0">Video</a>
                <a target="_blank" href="https://www.tractortaishan.com/">Site Oficial</a>

                
                <div class="onde-comprar">
                    <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://www.alibaba.com/product-detail/Taishan-tractor-farm-agricultural-50hp-55HP_1600184357989.html">Alibaba</a>
                </div>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/TaishanTratorAzul.webp')}}" alt="">
            </div>
        </div>


        <div class="produtos2">
            <div class="col-a">
                <h2>Wheeled tractor TG-160HP 180HP 200HP 220HP 240Hp P2404</h2>
                <P>
                    Taishan Tractors
                </P>
                <P>
                    Descricao:
                </P>
                <P>
                    Preço Estimad0: R$160,000
                </P>
                <a target="_blank" href="">Video</a>
                <a target="_blank" href="https://www.tractortaishan.com/tractors/tg-series/wheeled-tractor-tg-160hp-180hp-200hp-220hp-240hp-p2404/">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://www.alibaba.com/product-detail/Taishan-Traktor-180hp-220hp-240hp-Farm_62415242645.html">Alibaba</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/TaishanTratorVermelho.webp')}}" alt="">
            </div>
        </div>

        <div class="produtos1"> <!-- Quando boto produtos3, a formatacao sai -->
            <div class="col-a">
                <h2>Trator utilitário YTO-EF654</h2>
                <P>
                    YTO Group
                </P>
                <P>
                    Descricao
                </P>
                <P>
                    Preço Estimad0: R$160,000 - R$210,000
                </P>
                <a target="_blank" href="">Video</a>
                <a target="_blank" href="http://ytobrazil.com.br/5-6-1-65-75hp-tractor-ef-emf-series.html">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://portalgoverno.com.br/product/trator-yto-lx-754/?utm_source=chatgpt.com">Portal Governo</a>
                <a target="_blank" href="https://mecaniza.com.br/?tratores=mf654-7a&utm_source=chatgpt.com">Mecaniza</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/YTO654.jpg')}}" alt="">
            </div>
        </div>

        <div class="produtos2"> <!-- Quando boto produtos3, a formatacao sai -->
            <div class="col-a">
                <h2>Trator YTO - LX-754</h2>
                <P>
                    YTO Group
                </P>
                <P>
                    Descricao
                </P>
                <P>
                    Preço Estimad0: R$170,000 - R$200,000
                </P>
                <a target="_blank" href="">Video</a>
                <a target="_blank" href="http://ytobrazil.com.br/5-5-1-80-115hp-tractor-nlx-nly-series.html">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://portalgoverno.com.br/product/trator-yto-lx-754/">Portal Governo</a>
                <a target="_blank" href="https://mecaniza.com.br/?tratores=nlx-754-cabinado">Mecaniza</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/YTOLX.jpg')}}" alt="">
            </div>
        </div>

    </section>

    <section class="section-produtos" id="2">
        <h1>Colheitadeira</h1>

        <div class="produtos1">
            <div class="col-a">
                <h2>Zoomlion TE100</h2>
                <P>
                    Zoomlion
                </P>
                <P>
                    Preço Estimado: R$100,000 - R$130,000
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-detail/te100">Site Oficial</a>
                 
                <a  target="_blank" href="https://youtu.be/ppm7rpj3Kho">Video</a>
                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-inquiry">Solicite no Site Oficial</a>
                <a target="_blank" href="https://portuguese.alibaba.com/product-detail/Chinese-Famous-Brand-ZOOMLION-Agricultural-Equipment-1601246067896.html?utm_source=chatgpt.com">Alibaba</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ZoomlioTE1002.png')}}" alt="">
            </div>
        </div>

        <div class="produtos2">
            <div class="col-a">
                <h2>Mini Colheitadeira 4LZ</h2>
                <P>
                    TAGRM
                </P>
                <P>
                    Preço Estimado: R$10,000 - R$20,000
                </P>
                <a target="_blank" href="https://www.tagrmfarming.com/rice-combined-harvester/63029991.html">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://www.tagrmfarming.com/rice-combined-harvester/63029991.html">Contactar Produtor</a>
                <a target="_blank" href="https://portuguese.alibaba.com/product-detail/EASY-OPERATION-MANUAL-Automatic-Wheat-Harvesting-1601029052703.html?spm=a2700.7724857.0.0.1c6ee79dqgRQ3H">Alibaba</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/TAGRM.webp')}}" alt="">
            </div>
        </div>

        <div class="produtos1"> 
            <div class="col-a">
                <h2>Zoomlion TF150</h2>
                <P>
                    Zoomlion
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-detail/tf150">Site Oficial</a>
                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-inquiry">Solicite no Site Oficial</a>
                <a target="_blank" href="https://portuguese.alibaba.com/product-detail/Zoomlion-Brand-Agricultural-Machinery-260HP-Combine-1601244499754.html?spm=a2700.7724857.0.0.1edd1100h1RIiL">Alibaba</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ZoomlionTF150.jpg')}}" alt="">
            </div>
        </div>

        <div class="produtos2"> <!-- Quando boto produtos4, a formatacao sai -->
            <div class="col-a">
                <h2>Colheitadeira de arroz sobre esteiras A9</h2>
                <P>
                    Zoomlion
                </P>
                <P>
                    R$3,000 - R$10,000 por ano
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-detail/colheitadeira-de-arroz-sobre-esteiras-a9">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-inquiry">Solicite no Site Oficial</a>
                <a target="_blank" href="https://www.agriexpo.online/pt/prod/zoomlion-heavy-machinery-co-ltd/product-170706-55436.html">AgriExpo</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ZoomlionA9.webp')}}" alt="">
            </div>
        </div>

    </section>

    <section class="section-produtos" id="3">
        <h1>Irrigacao</h1>

        <div class="produtos1">
            <div class="col-a">
                <h2>Huifa irrigação por pivô central</h2>
                <P>
                    Weishi Huifa Machinery Plant
                </P>
                <P>
                    Preço Estimado: R$9,999 - R$79,999 por set (depende do tamanho)
                </P>
                <a target="_blank" href="https://86machinery.goldsupplier.com/">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://www.goldsupplier.com/provide/p115585509.html">Distribuidora oficial</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/HuifaIrrigacaoPivo.jpg')}}" alt="">
            </div>
        </div>

        <div class="produtos2">
            <div class="col-a">
                <h2>Xuzhou irrigação por aspersão</h2>
                <P>
                    Xuzhou Fenglian Agricultural Machinery Co.
                </P>
                <P>
                    Preço Estimado: R$6,500 - R$7,500
                </P>
                <a target="_blank" href="https://fenglianmachinery.en.made-in-china.com/">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://fenglianmachinery.en.made-in-china.com/product/XOFTcJRDgGrL/China-Brazil-Farm-Used-Sprinkler-Irrigation-System.html?utm_source=chatgpt.com">Produtos Oficiais</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/XuzhouIrrigador.png')}}" alt="">
            </div>
        </div>

        <div class="produtos2">
            <div class="col-a">
                <h2>Fita Gotejadora</h2>
                <P>
                    Chinadrip Irrigation Equipment
                </P>
                <P>
                    Preço Estimado: R$0,15 - R$0,27 por metro
                </P>
                <a target="_blank" href="https://www.chinadrip.com/">Site Oficial</a>

                 

                <P>
                    Onde Comprar:
                </P>
                <a target="_blank" href="https://pt.chinadrip.com/drip-tape-with-integral-emitter-diameter-16mm-0-30mm-thickness-20cm-spacing_p155.html">Produto Oficial</a>
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ChinaDrip.jpg')}}" alt="">
            </div>
        </div>

    </section>

</div>

{% endblock %}