{% extends 'nav.html' %}

{% block content %}
<div class="homepage">
    <section class="imagem1" id="0">
        <img class="trator-fundo" src="{{url_for('static', filename='imagens/trator_vermelho.jpg')}}" alt="Trator Vermelho">
        <h1>Tecnologia Agrícola Sem Fronteiras. Seu Próximo Salto Começa Aqui.</h1>
        <div class="carrossel">
            <div class="carrossel-inner">
                <a href="#"><img src="{{url_for('static' , filename='imagens/AgrasT25.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/TaishanTratorAzul.webp')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static', filename='imagens/XAGV40.webp')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/HuifaIrrigacaoPivo.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/AgrasT50.webp')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/TaishanTratorVermelho.webp')}}" alt=""></a>
                
                <a href="#"><img src="{{url_for('static' , filename='imagens/AgrasT25.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/TaishanTratorAzul.webp')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static', filename='imagens/XAGV40.webp')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/HuifaIrrigacaoPivo.jpg')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/AgrasT50.webp')}}" alt=""></a>
                <a href="#"><img src="{{url_for('static' , filename='imagens/TaishanTratorVermelho.webp')}}" alt=""></a>
            </div>
        </div>
    </section>
    
    <section class="section-produtos" id="4">
        <h1>Drones e Robôs</h1>
    
        <div class="produtos1">
            <div class="col-a">
                <h2>Agras T25</h2>
                <P>
                    DJI Agriculture
                </P>
                <br>
                <P>
                    O DJI Agras T25 é um drone agrícola compacto com capacidade de até 25 kg, ideal para pulverização precisa em terrenos variados. Ele combina radar omnidirecional, câmera FPV e tecnologia RTK para voos autônomos seguros e eficientes.
                </P>
                <br>
                <P>
                    Preço Estimado: R$60.000 - R$160.000 (Dependente na configuracao)
                </P>
                <a target="_blank" href="https://ag.dji.com/t25">Site Oficial</a>
    
                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=XEIXXWxVDdw">Video</a>
    
                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://agridrones.com.br/produtos/agras-t25/">AgriDrones</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://geoag.com.br/drone-para-pulverizacao-dji-agras-t25">geoAG</a>
                </div>
                
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/AgrasT25.jpg')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>Agras T50</h2>
                <P>
                    DJI Agriculture
                </P>
                <br>
                <P>
                    O DJI Agras T50 é um drone agrícola robusto com capacidade de até 50 kg para dispersão e 40 litros para pulverização líquida. Ele combina radar de matriz de fase, câmera dupla e sistema de atomização ajustável para operações seguras e precisas em terrenos complexos.
                </P>
                <br>
                <P>
                    Preço Estimado: R$140.000 - R$250.000 (Dependente na configuracao)
                </P>
                <a target="_blank" href="https://ag.dji.com/t50">Site Oficial</a>
    
                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=G8gjm2HALEM">Video</a>
    
                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://agridrones.com.br/produtos/agras-t50/">AgriDrones</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://geoag.com.br/drone-de-pulverizacao-no-arroz-no-brasil">geoAG</a>
                </div>
                
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/AgrasT50.webp')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>Agras T70 P</h2>
                <P>
                    DJI Agriculture
                </P>
                <br>
                <P>
                    O DJI Agras T70P é um drone agrícola de alta performance, com capacidade de pulverização de 70 litros, dispersão de até 100 litros e elevação de cargas de até 65 kg. Equipado com radar de ondas milimétricas, sistema Tri Vision e câmera FPV com modo noturno, ele oferece navegação precisa e segurança avançada para operações em terrenos complexos.
                </P>
                <br>
                <P>
                    Preço Estimado: R$180.000 - R$250.000 (Dependente na configuracao)
                </P>
                <a target="_blank" href="https://ag.dji.com/t70p">Site Oficial</a>
    
                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=H0lr559hvNw">Video</a> 
    
                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://geoag.com.br/drone-de-pulverizacao-agricola-dji-agras-t70p">geoAG</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/AgrasT70.png')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>R150</h2>
                <P>
                    XAG
                </P>
                <br>
                <P>
                    O XAG R150 é um veículo terrestre agrícola não tripulado, projetado para pulverização de precisão, reconhecimento de campo e entrega de materiais. Com estrutura modular, controle inteligente e capacidade de carga de até 150 kg, ele opera de forma autônoma em diversos terrenos com alta eficiência.
                </P>
                <br>
                <P>
                    Preço Estimado: R$120.000 - R$160.000
                </P>
                <a target="_blank" href="https://www.xa.com/en/r150-2022">Site Oficial</a>
    
                <a class="btn-video" target="_blank" href="https://youtu.be/coUIsQhCv2Q">Video</a> 
    
                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="http://megadronebrasil.com.br/home/r150/">Megadrone Brasil</a>
                    <P>
                       |
                    </P>
                    <a target="_blank" href="https://compertratores.com.br/produto/drone-agricola-xag-r150-utv/?utm_source=chatgpt.com">Comper Tratores</a>
                    <P>
                       |
                    </P>
                    <a target="_blank" href="https://broto.com.br/rodoparana-xag-r150-veiculo-terrestre-autonomo.html?utm_source=chatgpt.com">Broto</a>
                </div>
            
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/R150.webp')}}" alt="">
            </div>
        </div>
    
        <div class="produtos2">
            <div class="col-a">
                <h2>XAG V40</h2>
                <P>
                    XAG
                </P>
                <br>
                <P>
                    O XAG V40 é um drone agrícola avançado com estrutura de rotores duplos inclinados, ideal para pulverização, dispersão e mapeamento de precisão. Equipado com o sistema inteligente SuperX 4, radar multidirecional e navegação RTK, ele oferece voos autônomos seguros e eficientes mesmo em ambientes complexos. Seu design modular e tanque de 10 litros garantem versatilidade e alto desempenho na agricultura digital.
                </P>
                <br>
                <P>
                    Preço Estimado: R$60.000 - R$140.000
                </P>
                <a target="_blank" href="https://www.xa.com/en/v40">Site Oficial</a>
    
                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=s2JsK7PdIlU">Video</a> 
    
                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://megadronebrasil.com.br/home/megadrone-xag-v40/">Megadrone Brasil</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://www.mfrural.com.br/detalhe/862238/drone-agricola-xag-v40">MFRural</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://broto.com.br/rodoparana-xag-v40-drone-agricola-para-pulverizac-o.html?utm_source=chatgpt.com">Broto</a>
                </div>
                
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/XAGV40.webp')}}" alt="">
            </div>
        </div>
    
    </section>
    
    <section class="section-produtos" id="1">
        <h1>Tratores</h1>

        <div class="produtos1">
            <div class="col-a">
                <h2>Farm Tractor GT604</h2>
                <p>
                    Taishan Tractors
                </p>
                <br>
                <P>
                    O Farm Tractor GT604 da Taishan é um trator versátil disponível nas versões de 40HP, 45HP e 50HP, ideal para tarefas agrícolas como aragem, transporte e manejo de culturas. Com motor potente, direção hidráulica e design ergonômico, oferece conforto, durabilidade e alto desempenho em campo.
                </P>
                <br>
                <P>
                    Preço Estimado: R$40.000 - R$50.000
                </P>
                <a class="btn-video" target="_blank" href="https://www.youtube.com/shorts/OtrBlD1ajX0">Video</a>
                <a target="_blank" href="https://www.tractortaishan.com/">Site Oficial</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://www.alibaba.com/product-detail/Taishan-tractor-farm-agricultural-50hp-55HP_1600184357989.html">Alibaba</a>
                </div>                

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/TaishanTratorAzul.webp')}}" alt="">
            </div>
        </div>


        <div class="produtos2">
            <div class="col-a">
                <h2>Wheeled tractor TG-160HP</h2>
                <P>
                    Taishan Tractors
                </P>
                <br>
                <P>
                    O trator TG-160HP da Taishan é uma máquina agrícola potente e versátil, ideal para tarefas pesadas como aragem, transporte e operação de implementos. Com motor de 160HP, transmissão 16F+16R e sistema hidráulico avançado, oferece alto desempenho, durabilidade e eficiência para grandes operações no campo.
                </P>
                <br>
                <P>
                    Preço Estimad0: R$160.000
                </P>
                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=U4QHEgTqr4g">Video</a>
                <a target="_blank" href="https://www.tractortaishan.com/tractors/tg-series/wheeled-tractor-tg-160hp-180hp-200hp-220hp-240hp-p2404/">Site Oficial</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://www.alibaba.com/product-detail/Taishan-Traktor-180hp-220hp-240hp-Farm_62415242645.html">Alibaba</a>
                </div>
                
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/TaishanTratorVermelho.webp')}}" alt="">
            </div>
        </div>

        <div class="produtos1"> <!-- Quando boto produtos3, a formatacao sai -->
            <div class="col-a">
                <h2>Trator utilitário YTO - EF654</h2>
                <P>
                    YTO Group
                </P>
                <br>
                <P>
                    O trator utilitário YTO EF654 é um modelo de 65HP com motor diesel de 4 cilindros, ideal para tarefas agrícolas e transporte. Ele possui transmissão 12F/12R, embreagem de ação dupla, freios hidráulicos a disco e eixo dianteiro reforçado para alta tração. Disponível com cabine fechada ou estação aberta, oferece conforto, durabilidade e excelente desempenho em campo.
                </P>
                <br>
                <P>
                    Preço Estimad0: R$160.000 - R$210.000
                </P>
                <a class="btn-video" target="_blank" href="https://www.youtube.com/shorts/nZLBENDRkCQ">Video</a>
                <a target="_blank" href="http://ytobrazil.com.br/5-6-1-65-75hp-tractor-ef-emf-series.html">Site Oficial</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://portalgoverno.com.br/product/trator-yto-lx-754/?utm_source=chatgpt.com">Portal Governo</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://mecaniza.com.br/?tratores=mf654-7a&utm_source=chatgpt.com">Mecaniza</a>
                </div> 
                
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/YTO654.jpg')}}" alt="">
            </div>
        </div>

        <div class="produtos2"> <!-- Quando boto produtos3, a formatacao sai -->
            <div class="col-a">
                <h2>Trator YTO - LX-754</h2>
                <P>
                    YTO Group
                </P>
                <br>
                <P>
                    O trator YTO LX-754 é um modelo 4x4 com motor diesel aspirado de 75HP, ideal para produtores que buscam potência, economia e versatilidade. Ele vem equipado com cabine fechada com ar-condicionado, painel digital, sistema hidráulico de alto desempenho e freios a disco em banho de óleo, garantindo conforto e eficiência em diversas operações agrícolas.
                </P>
                <br>
                <P>
                    Preço Estimad0: R$170.000 - R$200.000
                </P>
                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=-HQXbT-OzXo">Video</a>
                <a target="_blank" href="http://ytobrazil.com.br/5-5-1-80-115hp-tractor-nlx-nly-series.html">Site Oficial</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://portalgoverno.com.br/product/trator-yto-lx-754/">Portal Governo</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://mecaniza.com.br/?tratores=nlx-754-cabinado">Mecaniza</a>
                </div> 
                
            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/YTOLX.jpg')}}" alt="">
            </div>
        </div>

    </section>

    <section class="section-produtos" id="2">
        <h1>Colheitadeira</h1>

        <div class="produtos1">
            <div class="col-a">
                <h2>Zoomlion TE100</h2>
                <P>
                    Zoomlion
                </P>
                <br>
                <P>
                    O Zoomlion TE100 é uma colheitadeira agrícola de alto desempenho equipada com motor Yuchai de 190HP e sistema de transmissão hidrostática. Projetada para colher trigo, milho, sorgo e soja, ela possui sistema de debulha axial de fluxo longitudinal, cabine com ar-condicionado e tanque de grãos de 3200L, garantindo conforto, eficiência e versatilidade em operações de grande escala.
                </P>
                <br>
                <P>
                    Preço Estimado: R$250.000 - R$400.000
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-detail/te100">Site Oficial</a>
                 
                <a class="btn-video" target="_blank" href="https://youtu.be/ppm7rpj3Kho">Video</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://zoomlion-ag.com.br/product-inquiry">Solicite no Site Oficial</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://portuguese.alibaba.com/product-detail/Chinese-Famous-Brand-ZOOMLION-Agricultural-Equipment-1601246067896.html?utm_source=chatgpt.com">Alibaba</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ZoomlioTE1002.png')}}" alt="">
            </div>
        </div>

        <div class="produtos2">
            <div class="col-a">
                <h2>Mini Colheitadeira 4LZ</h2>
                <P>
                    TAGRM
                </P>
                <br>
                <P>
                    A Mini Colheitadeira TAGRM 4LZ-1.2A é uma máquina compacta e eficiente, projetada para colher trigo em terrenos pequenos ou difíceis. Com motor diesel de 12HP, sistema híbrido de trilha e debulha, e largura de corte de 1,1 metro, ela realiza colheita, debulha e limpeza em um único processo, oferecendo alto desempenho com baixo consumo de combustível.
                </P>
                <br>
                <P>
                    Preço Estimado: R$10.000 - R$20.000
                </P>
                <a target="_blank" href="https://www.tagrmfarming.com/rice-combined-harvester/63029991.html">Site Oficial</a>

                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=wqhhJ3Kbz_g">Video</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://www.tagrmfarming.com/rice-combined-harvester/63029991.html">Contactar Produtor</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://portuguese.alibaba.com/product-detail/EASY-OPERATION-MANUAL-Automatic-Wheat-Harvesting-1601029052703.html?spm=a2700.7724857.0.0.1c6ee79dqgRQ3H">Alibaba</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/TAGRM.webp')}}" alt="">
            </div>
        </div>

        <div class="produtos1"> 
            <div class="col-a">
                <h2>Zoomlion TF150</h2>
                <P>
                    Zoomlion
                </P>
                <br>
                <P>
                    O Zoomlion TF150 é uma colheitadeira de alta eficiência equipada com motor de 300HP, sistema de debulha axial duplo e tanque de grãos de 9000 litros. Projetada para colher trigo, milho, soja e arroz, ela oferece baixo índice de perdas, alta capacidade de alimentação (até 28 t/h) e descarga rápida de grãos a 60 L/s.
                </P>
                <br>
                <P>
                    Preço Estimado: R$400.000 - R$700.000
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-detail/tf150">Site Oficial</a>

                <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=mnRSJQTMbfc">Video</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://zoomlion-ag.com.br/product-inquiry">Solicite no Site Oficial</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://portuguese.alibaba.com/product-detail/Zoomlion-Brand-Agricultural-Machinery-260HP-Combine-1601244499754.html?spm=a2700.7724857.0.0.1edd1100h1RIiL">Alibaba</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ZoomlionTF150.jpg')}}" alt="">
            </div>
        </div>

        <div class="produtos2"> <!-- Quando boto produtos4, a formatacao sai -->
            <div class="col-a">
                <h2>Colheitadeira de arroz sobre esteiras A9</h2>
                <P>
                    Zoomlion
                </P>
                <br>
                <P>
                    A colheitadeira de arroz sobre esteiras Zoomlion A9 é projetada para terrenos alagados e difíceis, oferecendo alta tração e estabilidade. Com motor potente, sistema de debulha eficiente e esteiras largas, ela garante colheita precisa com baixo índice de perdas, ideal para arrozais em regiões úmidas.                </P>
                <br>
                <P>
                    Preço Estimado: R$180.000 - R$300.000
                </P>
                <a target="_blank" href="https://zoomlion-ag.com.br/product-detail/colheitadeira-de-arroz-sobre-esteiras-a9">Site Oficial</a>

                 <a class="btn-video" target="_blank" href="https://youtu.be/AYrwkmLXFao">Video</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://zoomlion-ag.com.br/product-inquiry">Solicite no Site Oficial</a>
                    <P>
                        |
                    </P>
                    <a target="_blank" href="https://www.agriexpo.online/pt/prod/zoomlion-heavy-machinery-co-ltd/product-170706-55436.html">AgriExpo</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ZoomlionA9.webp')}}" alt="">
            </div>
        </div>

    </section>

    <section class="section-produtos" id="3">
        <h1>Irrigacao</h1>

        <div class="produtos1">
            <div class="col-a">
                <h2>Huifa irrigação por pivô central</h2>
                <P>
                    Weishi Huifa Machinery Plant
                </P>
                <br>
                <P>
                    O sistema de irrigação por pivô central da Weishi Huifa Machinery Plant, modelo PG066, é uma solução automática e eficiente para irrigação de grandes áreas agrícolas. Com design personalizado, operação simples e alta economia de mão de obra, ele oferece cobertura uniforme e confiável para culturas diversas.                </P>
                <br>
                <P>
                    Preço Estimado: R$9.999 - R$79.999 por set (depende do tamanho)
                </P>
                <a target="_blank" href="https://86machinery.goldsupplier.com/">Site Oficial</a>

                 <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=Qjv7XOeQVB8">Video</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://www.goldsupplier.com/provide/p115585509.html">Distribuidora oficial</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/HuifaIrrigacaoPivo.jpg')}}" alt="">
            </div>
        </div>

        <div class="produtos2">
            <div class="col-a">
                <h2>Xuzhou irrigação por aspersão</h2>
                <P>
                    Xuzhou Fenglian Agricultural Machinery Co.
                </P>
                <br>
                <P>
                    O sistema de irrigação por aspersão da Xuzhou Fenglian Agricultural Machinery Co. é uma solução robusta e personalizável para irrigação agrícola, com modelos como o JP90-300 e JP75-400. Equipado com bomba centrífuga, mangueira de até 300 metros e pressão de água entre 4 e 11 bar, ele cobre áreas de até 6,5 hectares com alta eficiência e controle preciso.                </P>
                <br>
                <P>
                    Preço Estimado: R$6.500 - R$7.500
                </P>
                <a target="_blank" href="https://fenglianmachinery.en.made-in-china.com/">Site Oficial</a>

                 <a class="btn-video" target="_blank" href="https://fenglianmachinery.en.made-in-china.com/product/XOFTcJRDgGrL/China-Brazil-Farm-Used-Sprinkler-Irrigation-System.html?pv_id=1j74isdbla20&faw_id=1j74isdmpb4d&bv_id=1j74isn0g6e6">Video</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://fenglianmachinery.en.made-in-china.com/product/XOFTcJRDgGrL/China-Brazil-Farm-Used-Sprinkler-Irrigation-System.html?utm_source=chatgpt.com">Produtos Oficiais</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/XuzhouIrrigador.png')}}" alt="">
            </div>
        </div>

        <div class="produtos2">
            <div class="col-a">
                <h2>Fita Gotejadora</h2>
                <P>
                    Chinadrip Irrigation Equipment
                </P>
                <br>
                <P>
                    A fita gotejadora da Chinadrip Irrigation Equipment é projetada para irrigação precisa e econômica, com emissores integrados que garantem alta uniformidade e resistência ao entupimento. Disponível em diversos diâmetros, espaçamentos e taxas de fluxo (1–3 L/h), ela é ideal para culturas como milho, tomate e cana-de-açúcar, oferecendo durabilidade, resistência UV e fácil instalação.
                </P>
                <br>
                <P>
                    Preço Estimado: R$0,15 - R$0,27 por metro
                </P>
                <a target="_blank" href="https://www.chinadrip.com/">Site Oficial</a>

                 <a class="btn-video" target="_blank" href="https://www.youtube.com/watch?v=vrK1BMxlH-U">Video</a>

                <div class="onde-comprar">
                    <P>
                        Onde Comprar:
                    </P>
                    <a target="_blank" href="https://pt.chinadrip.com/drip-tape-with-integral-emitter-diameter-16mm-0-30mm-thickness-20cm-spacing_p155.html">Produto Oficial</a>
                </div>

            </div>
            <div class="col-b">
                <img src="{{url_for('static', filename='imagens/ChinaDrip.jpg')}}" alt="">
            </div>
        </div>

    </section>

</div>

{% endblock %}