<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGROBRIDGE</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css')}}">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Gemunu+Libre:wght@200&display=swap"
    rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{{url_for('homepage')}}#0">
                <h1>AGRO<div class="logo1">BRIDGE</div></h1>
            </a>
        </div>
        <ul>
            <li class="dropdown">
                <a href="#">Maquinário</a>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('homepage')}}#1">Trator</a></li>
                    <li><a href="{{url_for('homepage')}}#2">Colheitadeira</a></li>
                    <li><a href="{{url_for('homepage')}}#3">Plantadeira e Semeadeiras</a></li>
                    <li><a href="{{url_for('homepage')}}#4">Drones e Robos</a></li>
                </ul>
            </li> 
            <li><a href="{{url_for('login')}}">Login</a></li> 
            <li><a href="{{url_for('registrar')}}">Registrar</a></li> 
            <li><a href="{{url_for('sobre')}}">Sobre Nós</a></li>
        </ul>
    </nav>

    <main>
        {%block content %}{% endblock %}
    </main>
</body>
</html>